<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Most Positive Reviews</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  </head>
  <body>
    <main role="main" class="container">
      <h1 style="margin-top: 25px;">Current Most Positive Reviews for McKaig</h1>
      
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Customer</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <%= for {review, index} <- Enum.with_index(@reviews, 1) do %>
          <tr>
            <th>#<%= index %></th>
            <td><%= review.date %></td>
            <td><%= review.customer %></td>
            <td><%= review.review %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </main>
  </body>
</html>